pandas version: 2.2.2
numpy version: 1.26.4
matplotlib version: 3.10.0
seaborn version: 0.13.2
kagglehub version: 0.3.6
geopandas version: 1.0.1
pickle version: 4.0
scipy version: 1.13.1
sklearn version: 1.6.1
xgboost version: 2.1.3